# Игнорирование переменных окружения
.env

# Игнорирование ВСЕХ .log файлов везде
*.log

test_trash.txt

# Игнорирование виртуального окружения
.venv/

# Игнорирование папки IDE
.idea/

# Игнорирование системного файла macOS
.DS_Store

# Игнорирование кэша (уже скомпилированная программа)
__pycache__/
*.pyc
*.pyo
*.egg-info/


cache/
vector_db/